.childContainer5 {
  height: 450px;
  /* width: 100%; */
  margin-top: 180px;
  border-radius: 5px;
  background-color: #fcfcfc;
  /* border: 1px solid blue; */
}

.subContainer {
  width: 100%;
  /* height: 400px; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* border: 1px solid rgb(152, 255, 72); */
}
.aboutAndContact{
  width: 50%;
  justify-content: space-evenly;
  /* border: 1px solid pink; */
  display: flex;
}

.aboutContainer {
  /* height: 200px; */
  /* width: 45%; */
  margin-top: 50px;
  /* border: 1px solid greenyellow; */
  
}

.aboutDetails {
  /* height: 150px; */
  /* width: 20%; */
  margin-top: 80px;
  /* border: 1px solid; */
}

.contactContainer {
  margin-top: 80px;
  /* height: 300px; */
  /* width: 40%; */
  /* border: 1px solid rgb(177, 166, 172); */
}

.contactDetails {
  /* height: 300px; */
  /* width: 100%; */
  margin-top: 50px;
  /* border: 1px solid greenyellow; */
}
/* .contactDetails p {
  margin-top: 20px;
} */
.childContainer5 h3 {
  margin-bottom: 10px;
}

.email {
  /* height: 300px; */
  width: 40%;
  /* border: 1px solid lawngreen; */
  margin-top: 80px;
  /* display: flex; */
  /* justify-content: space-around; */
  /* flex-direction: column; */
  /* align-items: center; */
}
.email h3 {
  margin-top: 10px;
}
.email input {
  width: 80%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 1px solid;
}

.lastItem{
  width: 30%;
  margin-top: 100px;
  margin-left: 70px;
  display: flex;
  justify-content:space-evenly;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 500px){
  .childContainer5 {
    height: 670px;
    width: 88%;
    margin-left: 20px;

  }
  .subContainer{
    display:flex; 
    flex-direction: column; 
  }

  .aboutDetails {
    margin-top: 30px;
    width: 100%;
    margin-left: 30px;
  }

  .aboutContainer {
    margin-top: 30px;
  }

  .aboutAndContact{
    display: flex; 
    flex-direction: column;
    

  }

  .contactDetails {
    margin-top: 30px;
  }

  .contactContainer {
    margin-top: 40px;
    margin-left: 30px;
  }

  .email {
    margin-left: 30px;
    width: 90%;
  }

  .lastItem{
    width: 80%;
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    justify-content:space-evenly;
  }
}


  


