.childContainer3 {
  display: grid;
  /* height: 850px; */
  margin-top: 20px;
  grid-template-columns: 60% 40%;
  /* border: 1px solid green; */
}
.leftInfo {
  margin-top: 170px;
  /* border: 1px solid red; */
}
.leftInfo button {
  width: 197px;
  height: 39px;
  border-radius: 30px;
  background-color: rgba(232, 20, 84, 0.06);
  color: #e81454;
  border: none;
}
.leftInfo h1 {
  font-size: 36px;
  margin-top: 25px;
}
.leftInfo p {
  line-height: 209.6%;
  margin-top: 35px;
}

.rightImage {
  text-align: center;
  /* border: 1px solid green; */
}

@media only screen and (max-width: 500px) {
  .childContainer3 {
    display: block;
    margin-top: 20px;
  }

  .leftInfo p {
    line-height: 209.6%;
    margin-top: 35px;
  }

  .leftInfo {
    margin-top: 0px;
    /* border: 1px solid red; */
    padding: 15px;
  }

  .rightImage {
    display: none;
  }
}
