* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
}
/* my covid19 react project */

body{
  background-color: #ecf0f0;
}



.littleCircle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid #2B6FF3;
}

.covidTracker{
  /* border: 1px solid pink; */
  position: absolute;
  top: 137px;
  left: 89px;
  
}

.container2{
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  border-radius: 5px;
  /* position: absolute; */
  /* top: 256px; */
  /* border: 1px solid orange; */
}

.childContainer1{
  height: 200px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-radius: 5px;
  /* border: 1px solid orchid; */
}




/* .countryName1, .countryName2, .countryName3, .countryName4{
  width: 29PX;
  height: 17px;
  margin-top: 20px;
} */
.country:hover{
  background: rgba(238, 238, 238, 0.34);

}
.figures1{
  color: #2B6FF3;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

}

@media  only screen and (min-width: 320px) and (max-width: 500px){
 body{
   padding: 10px;
 }
  

}








