.childContainer2 {
  height: 570px;
  margin-top: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  /* display: flex; */
  /* border: 2px solid greenyellow; */
}
.childContainer2_Circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* position: absolute; */
  background-color: rgba(214, 50, 50, 0.04);
  
  /* border: 2px solid gold; */
}
.affected {
  margin-left: 450px;
}

.writeUp {
  /* height: 28px; */
  width: 320px;
  /* border: 1px solid red; */
  margin-top: 40px;
  margin-left: 30px;
  font-size: 24px;
}

.childContainer2_Ptag {
  width: 210px;
  margin-top: 10px;
  /* border: 1px solid orange; */
  margin-left: 35px;
}
.countriesContainer {
  position: absolute;
  top: 576px;
  left: 200px;
  /* border: 1px solid #12790e; */
}
.countries {
  height: 370px;
  overflow-y: scroll;
  border: 1px solid #f1f4fa;
  border-radius: 10px;
}

/* .generalCaseContainer{
    width: 70%;
    height: 400px;
    margin-top: 90px;
    position: absolute;
    border: 1px solid blue;
    display: flex;
  } */
.countriesContainer h3 {
  margin-top: 15px;
  margin-left: 15px;
}

.cases-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 1px solid darkblue */
}

.caseData {
  display: grid;
  grid-template-columns: 1.6fr 1.6fr;
  gap: 20px;
  text-align: center;
  padding: 0 0 0 20px;
  /* border: 1px solid red; */
}

.country {
  padding: 7px 20px;
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid rgb(172, 122, 221); */
}

.nameLogo_div,
.nameLogo_div2,
.nameLogo_div3,
.nameLogo_div4 {
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 2px solid #2B6FF3; */
}

.box {
  padding: 20px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #858c9b;
}

.countryLogo2 > img{
  width: 20px;
  height: 15px;
  object-fit: cover;
  border: 1px solid red;
}

@media only screen and (max-width: 500px) {
  .childContainer2 {
    height: 650px;
    margin-top: 60px;
    /* width: 90%; */
    /* margin-left: 25px; */
  }

  .childContainer2_Circle {
    position: relative;
    top: -20px;
  }

  .writeUp {
    position: absolute;
  }

  .childContainer2_Ptag {
    position: absolute;
    margin-top: 75px;
  }

  .cases-grid {
    display: block;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid darkblue */
  }

  .countriesContainer {
    position: relative;
    top: -90px;
    left: 0px;
    /* border: 1px solid #12790e; */
  }

  .countries {
    border: none;
    border-radius: 10px;
  }

  .country {
    width: 95%;
    margin-top: 0px;
    padding: 0px 20px;
  }

  .caseData {
    grid-template-columns: 0.48fr 0.48fr;
    gap: 20px;
    padding: 0px;
    margin-top: 80px;
  }

  .box {
    padding: 10px;
    height: 60px;
    border-radius: 5px;
  }

  .worldmap {
    display: none;
  }

  .affected {
    position: relative;
    top: 360px;
    margin-left: 15px;
  }
}
