.childContainer2 {
  height: 570px;
  margin-top: 60px;
  border-radius: 5px;
  background-color: #fafafa;
  /* display: flex; */
  /* border: 2px solid greenyellow; */
}
.childContainer2_Circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: 360px;
  position: absolute;
  background-color: rgba(214, 50, 50, 0.04);
  /* border: 2px solid gold; */
}
.affected {
  margin-left: 600px;
}

.writeUp {
  /* height: 28px; */
  width: 270px;
  /* border: 1px solid red; */
  margin-top: 40px;
  margin-left: 30px;
}

.childContainer2_Ptag {
  /* width: 230px; */
  margin-top: 10px;
  /* border: 1px solid orange; */
  margin-left: 35px;
}
.countriesContainer {
  width: 78%;
  position: absolute;
  top: 480px;
  left: 200px;
  /* border: 1px solid #12790e; */
}
.countries {
  height: 370px;
  overflow-y: scroll;
  /* border: 1px solid #e20f8a; */
  border-radius: 10px;
  /* margin-top: 20px; */
}

/* .generalCaseContainer{
    width: 70%;
    height: 400px;
    margin-top: 90px;
    position: absolute;
    border: 1px solid blue;
    display: flex;
  } */
.countriesContainer h3 {
  margin-top: 15px;
  margin-left: 15px;
}

.cases-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* border: 1px solid darkblue */
}

.caseData {
  display: grid;
  grid-template-columns: 1.6fr 1.6fr;
  gap: 20px;
  text-align: center;
  padding: 0 0 0 20px;
  /* border: 1px solid red; */
}
.boxes{
  border: 1px solid #f1f4fa;
  height: 85px;
  width: 189px;
  padding-top: 20px;
}

.country {
  padding: 7px 20px;
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  /* border: 1px solid rgb(172, 122, 221); */
}

.nameLogo_div,
.nameLogo_div2,
.nameLogo_div3,
.nameLogo_div4 {
  display: flex;
  align-items: center;
  /* border: 2px solid #2B6FF3; */
}

/* .box {
  padding: 20px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #ff1d83;
} */

.countryLogo2 > img{
  width: 20px;
  height: 15px;
  object-fit: cover;
  /* border: 1px solid red; */
}
/* .worldmap{
  padding-left: 20px;
  margin-left: 30px;
  border: 1px solid;
  margin-bottom: 20px;
} */

@media only screen and (max-device-width: 600px) {
  .childContainer2 {
    height: 900px;
    margin-top: 60px;
  }

  .childContainer2_Circle {
    position: relative;
    top: -20px;
  }

  .writeUp {
    position: absolute;
    margin-left: 20px;
  }

  .childContainer2_Ptag {
    position: absolute;
    margin-top: 75px;
  }

  .cases-grid {
    grid-template-columns: 100%;
    /* border: 1px solid darkblue */
  }

  .countriesContainer {
    width: 100%;
    position: relative;
    top: -90px;
    left: 0px;
    /* border: 1px solid #12790e; */
  }

  .countries {
    width: 100%;
    border-radius: 10px;
  }

  .country {
    margin-top: 0px;
    /* padding: 0px 20px; */
    /* border: 1px solid green; */
  }

  .caseData {
    /* grid-template-columns: 0.48fr 0.48fr; */
    margin-top: 80px;
  }

  .boxes {
      height: 70px;
      width: 160px;
  }

  .worldmap {
    display: none;
  }

  .affected {
    position: relative;
    top: 580px;
    margin-left: 20px;
  }
}
